.header{
    height: 280px;
    padding:30px 40px;
    display: flex;
    background-color: #fff;
}
.site-slogan{
    width: 420px;
    margin-left: 50px;
    text-align: center;
}
h2{
<<<<<<< HEAD
    font-size: 45px;
=======
    font-size: 35px;
>>>>>>> f81cbc9791b9ba2a2e8ee7a204c5835430c43b35
}